<html>

<head> 
	<title> Your Name </title> <!--this will appear at the browser tab-->
	<link  type="text/css" rel="stylesheet" href="/static/style.css"> <!--reference to css file -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
	<header>
		<img class="dp" src="img/dp.png">
		<h1> {{ name }} </h1>
		<h3> This is my bio </h3>
	</header>

	<section>
		<h2> A few words about me </h2>
		<img class="photo" src="/static/img/photo.png">
		<span>Hello guys! I am a student of NCIT college. I am an undergraduate student pursuing Bachelors degree here at NCIT college. I am passonate about ABC, XYZ and PQR. I love to code because it allows me to express myself by helping people and thereby making this world a better place. </span>
	</section>

	<footer>
		<text> &#169 2017 {{ name }} </text> <br>
		<text> All rights reserved </text> <br>
		<text> Further details: myaddress@email.com </text>
	</footer>

</body>

</html>
